<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Main</title>
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
</head>
<body>

<div class="container" style="position: absolute; left: 0; top: 0;">
    <div class="row">
    <div class="col-1" style="position: absolute; left: 5px; top: 5px;">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" style="width: 100px" class="btn btn-dark"/>
        </form>
    </div>
    <div class="col-1" style="position: absolute; left: 110px; top: 5px;">
        <form th:action="@{/myreviews}" method="get">
            <input type="submit" value="My reviews" style="width: 100px" class="btn btn-dark"/>
        </form>
    </div>
    <div class="col-1" style="position: absolute; left: 215px; top: 5px;">
        <form th:action="@{/reviews}" method="get">
            <input type="submit" value="All reviews" style="width: 100px" class="btn btn-dark"/>
        </form>
    </div>
        <div class="col-1" style="position: absolute; left: 320px; top: 5px; width: 80px;">
            <div class="btn btn-light" th:text="${user.username}" style="width: 80px;"></div>
        </div>
    </div>
</div>

<br><br>


<div th:if="${message }"></div>

<div style="position: absolute; right: 20px; top: 5px">
    <form method="post" th:action="@{/search}" class="form-inline">
        <input type="text" name="title" placeholder="enter title" class="form-control"/>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
</div>

    <span th:if="${performances.empty}">
         No performances Available </span>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Theater</th>
        <th>Date</th>
        <th>Add</th>
        <th>Get</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performance : ${performances}">
        <td th:text="${performance.title}"></td>
        <td th:text="${performance.theater}"></td>
        <td th:text="${performance.date}"></td>
        <td><a  th:href="@{/review(perf_id=${performance.id})}">Add</a></td>
        <td><a  th:href="@{/reviewsPerf(perf_id=${performance.id})}">Get</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>