<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>performance</title>
</head>
<body>
<div>performances list

    <span th:if="${performance.empty}">
         No performances  </span>

    <span th:each="performance : ${performances}">
        <span th:text="${performance.id}"/>
        <span th:text="${performance.title}"/>
        <span th:text="${performance.theatre}"/>
        <span th:text="${performance.date}"/>
        <span th:text="${performance.time}"/>
        <span th:text="${performance.actors}"/></br>
        <!--<b th:text="${user.GetAuthorName()}"></b></br>-->
    </span>
</div>
</body>
</html>