<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>performance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <div>

        <span th:text="${performance.id}"/></br>
        <form method="post" th:action="@{/admin/performanceUpd(perf_id=${performance.id})}">
            <input type="text" name="title" placeholder="${performance.title}" th:value="${performance.title}"/>
            <input type="text" name="date" placeholder="${performance.date}" th:value="${performance.date}"/>
            <select name="theater_id">
                <span th:each="theater : ${theaters}">
                    <option th:value="${theater.id}" th:text="${theater.name}"></option>
                </span>
            </select>
            <button type="submit">Update performance</button>
        </form>
    </div>
</div>
</body>
</html>