<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>performance</title>
</head>
<body>
<div align="center">
    <div>
        <form method="post" th:action="@{/admin/performance}">
            <input type="text" name="title" placeholder="enter title"/>
            <input type="text" name="date" placeholder="YYYY-MM-DD HH:MM:SS"/>
            <select name="theater_id">
                <span th:each="theater : ${theaters}">
                    <option th:value="${theater.id}" th:text="${theater.name}"></option>
                </span>
            </select>
            <button type="submit">Add performance</button>
        </form>
    </div>
</div>
</body>
</html>