<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/main}" method="get">
    <button>To main</button>
</form>
    <span th:if="${reviews.empty}">
         No performances Available </span>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Theater</th>
        <th>User</th>
        <th th:if="${owner}">Del</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.title}"/>
        <td th:text="${review.body}"/>
        <td th:text="${review.user.username}"/>
        <td th:if="${owner}"><a th:href="@{/reviewDel(rev_id=${review.id})}"/>Del</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>