<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Search</title>
    <head th:replace="fragments/header :: head"></head>
<body>
<form th:action="@{/main}" method="get">
    <button>To main</button>
</form>
    <span th:if="${performances.empty}">
         No performances Available </span>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Theater</th>
        <th>Date</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performance : ${performances}">
        <td th:text="${performance.title}"/>
        <td th:text="${performance.theater}"/>
        <td th:text="${performance.date}"/>
        <td><a  th:href="@{/review(perf_id=${performance.id})}">Add review</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>